@import '../../styles/mixins';


.begin-text{
  position: absolute;
  left: 50%;
  top: 30%;
  width: 300px;
  transform: translate(-50%);
  -webkit-animation: example 2s; /* Safari 4.0 - 8.0 */
  animation: example 2s;
  @include respond-to(phone){
    top: 20%;
  }

  h1{
    font-family: Reservation;
    @include respond-to(phone){
      font-size: 20px;
    }
  }

  p{
    font-family: helvetica;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.end-text{
  position: absolute;
  left: 50%;
  width: 250px;
  top: 60%;
  transform: translate(-50%);
  -webkit-animation: example 2s; /* Safari 4.0 - 8.0 */
  animation: example 2s;
  @include respond-to(phone){
    top: 55%;
  }

  h1{
    font-family: Reservation;
    @include respond-to(phone){
      font-size: 20px;
    }
  }
  p{
    font-family: helvetica;
    font-size: 11px;
    text-transform: uppercase;
  }
}


@-webkit-keyframes example {
  0% {opacity: 0}
  100% {opacity: 1}
}
