@import '../../styles/mixins';


.logo{
  position: fixed;
  left: 50%;
  top: 50%;
  height: 62px;
  width: 446px;
  z-index: -1;
  transform: translate(-50%,-50%);
  // -webkit-animation: example .1s 10; /* Safari 4.0 - 8.0 */
  // animation: example .1s 10;
  @include respond-to(phone){
    width: 265px;
  }
  h1{
    font-family: Reservation;
    letter-spacing: 35px;
    font-size: 50px;
    margin: 0;
    @include respond-to(phone){
      font-size: 30px;
      letter-spacing: 20px;
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {opacity: 0}
  100% {opacity: 1}
}
