@import '../../styles/mixins';


.collection-img{
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  margin-bottom: 100px;
  &:nth-child(1n){
    left: 100%;
    transform: translateX(-100%);

  }

  &:nth-child(2n){
    left: 0;
    transform: none;
  }

  &:nth-child(3n){
    left: 0;
    transform: none;
    max-width: none;
    // width: 100vw;
    img{
      max-width: none;
      width: 100vw;
      height: auto;
    }
  }

  &:nth-child(9){
    margin-bottom: 0px;
  }


  img{
    // height: 100vh;
    max-width: 500px;
    -webkit-animation: example 1s; /* Safari 4.0 - 8.0 */
    animation: example 1s;
    // margin-left: 50vw;
    @include respond-to(phone){
      max-width: none;
      width: 100vw;
    }
  }
}

@-webkit-keyframes example {
  0% {opacity: 0}
  100% {opacity: 1}
}
