/* You can add global styles to this file, and also import other style files */
// @import 'reset';
// @import 'fonts';
// @import 'variables';
@import './styles/mixins';
// @import 'general';

@font-face {
    font-family: Reservation;
    src: url('./assets/reservation_wide_bold-webfont.woff2') format('woff2'), url('./assets/reservation_wide_bold-webfont.woff') format('woff');
}
body{
  margin: 0;
  // overflow: hidden;
  // @include respond-to(phone){
  //   background-color: black;
  // }
}
::-webkit-scrollbar {
    display: none;
}

a{
  cursor: crosshair;
}
