@import '../../styles/mixins';

.coming-soon{
  position: absolute;
  // width: 386px;
  text-transform: uppercase;
  // height: 400px;
  width: 100vw;
  text-align: center;
  // left: 50%;
  bottom: 25px;
  // transform: translate(-50%);

  p{
    font-family: Reservation;
    font-size: 20px;
    // background-color: black;
    color: black;
    letter-spacing: 5px;
    cursor: crosshair;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;
    transition: all .4s ease-in;
    &:hover{
      color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
    @include respond-to(phone){
        font-size: 13px;
        letter-spacing: 1px;
    }
  }
}


h1{
  position: absolute;
  left: 50%;
  cursor: crosshair;
}

.apply-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .9;
  .close-apply-container{
    position: fixed;
    right: 40px;
    color: white;
    font-size: 12px;
    font-family: Reservation;
    cursor: crosshair;
  }
  .apply-form-fields{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%,-50%);
    width: 400px;
    input{
      width: 350px;
      height: 34px;
      display: block;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      outline: 0;
      -webkit-appearance: none;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
    }
    button{
      width: 350px;
      cursor: crosshair;
      -webkit-appearance: none;
      border: 1px solid white;
      color: white;
      height: 34px;
      margin-top: 20px;
      background-color: transparent;
      outline: 0;
      letter-spacing: 1px;
      &:nth-child(1){
        margin-top: 34px;
      }
    }
  }
}

.already-signedin-message{
  p{
    font-size: 50px;
    color: white;
  }
}
