<!-- <h1 (click) = "showApplyContainer()">apply</h1> -->
<h1 (click) = "doSomething()">{{hello}}</h1>
<!-- THIS IS : {{userDetails}} -->
<div class="coming-soon" *ngIf="!authService.currentUser">
  <p (click) = "signInWithFacebook()">apply</p>
  <!-- <p> Check back later </p> -->
</div>

<div class="coming-soon" *ngIf="authService.currentUser">
  <p [routerLink]="['/dashboard']">Dashboard</p>


</div>

<!-- <div class="apply-container" *ngIf="showApply">
  <div class="close-apply-container">
    <h1 (click) = "showApplyContainer()">X</h1>
  </div>

  <div class="apply-form-fields" *ngIf="!authService.currentUser; else alreadyLoggedIn">
  </div>

</div> -->
